﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ItemBar.ascx.cs" Inherits="JustStringList.ItemBar" %>


<div>
    <table>
        <tr>
            <td><input type="button" class="button btnUp stretch" id="btnUp"/><td>
            <td><input type="button" class="button btnDown stretch" id="btnDown"/></td>
            <td><input type="button" class="button btnDots stretch" id="btnDots"/></td>
            <td><input type="button" class="button btnDelete stretch" id="btnDelete"/></td>
        </tr>
    </table>
</div>
