﻿body {
}
#listOfStrings a {
    cursor: pointer;
}
.button {
    cursor: pointer;
    border:  medium;
    width: 20px;        
}

.btnUp {
    background: url(/Images/arrowUp.png) no-repeat;
}

.btnDown {
    background: url(/Images/arrowDown.png) no-repeat;
}

.btnDots {
    background: url(/Images/dots.png) no-repeat;
}

.btnDelete {
    background: url(/Images/delete.png) no-repeat;
}

.stretch{
    background-size: 100% 100%;
}

#container {
  width: auto;
  height: auto;
  position: relative;
}

#barContent {
  position: absolute;
}

.selected{
    background-color:lightgreen;
}


